/*.App {*/
  /*text-align: center;*/
/*}*/

/*.App-logo {*/
  /*animation: App-logo-spin infinite 20s linear;*/
  /*height: 40vmin;*/
/*}*/

/*.App-header {*/
  /*background-color: #282c34;*/
  /*min-height: 100vh;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*font-size: calc(10px + 2vmin);*/
  /*color: white;*/
/*}*/

/*.App-link {*/
  /*color: #61dafb;*/
/*}*/

/*@keyframes App-logo-spin {*/
  /*from {*/
    /*transform: rotate(0deg);*/
  /*}*/
  /*to {*/
    /*transform: rotate(360deg);*/
  /*}*/
/*}*/

*{
  color: #1C2426;
  font-family: 'Acme', sans-serif;
  
  overflow-x: hidden;
}

body {
  background-color: #FAFCFF;
}

button {
  width:100%;

  box-shadow: 0 0 10px rgba(0,0,0,0.5);

  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 1vh 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 5.5vh;
  position: fixed;
  bottom: 0;

  /* And if you want the div to be full-width: */
  left: 0;
  right: 0;
}

ul{

}

li  {
  list-style-type: none;
  display: inline;
}

.setNewText {
  width:100%;
}

.score {
  position: fixed;
  left:0;
  bottom: 7.5vh;
  font-size: 3vw;
}
.stopwatch{
  position: fixed;
  right:0;
  bottom: 8.5vh;
  font-size: 3vw;
}

.typed {
  font-size: 10vh;
  width:80%;
  margin: 10vh auto 10vh ;
}

.typing {
  max-width: 95%;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 30vh;
}
.leftTyping, .middleTyping, .rightTyping {
  margin: 0;
  padding: 5px;
  display: flex;

}

.left, .middle, .right {
  font-size: 15vw;
  margin: auto;
  list-style-position:inside;
  border: 1px solid black;

  /*letter-spacing: 200 pt;*/
  padding: 0 5vw 3vh 5vw;
  display: flex;
  justify-content: center;
}

.left, .middle, .right {
  /*position: fixed;*/

}

.left {
  border: 10px dotted blue;
  margin: 3px;
}

.middle {

  border: 10px dashed red;
}

.right{
  border: 10px solid green;
  margin: 3px;
}

.congrats {
  text-align:center;
  padding: 21px 0;
  background-color:#F0FBFF;

  border-top: brown solid 5px;
  border-radius:4px;
  width:100%;
  top: 0px;
  position:relative;
  box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.5);
}

.leftTyping {

}

.middleTyping {

}

.rightTyping {

}